<%- include ../partials/head.ejs %>

    <%- include ../partials/navbar.ejs %>
        <div class="container">
            <h1>CANDIDAT:
                <%=user.prenom %>
                    <%=user.nom %>
            </h1>
            <div class="row">
                <div class="col-md" id="agenda">
                    <h4>PESD à venir:</h4>
                    <% futurPESD.forEach(function(PES) {%>
                    <p>PESD du <%=PES.date%> <br/> avec <%=PES.prenom%> <%=PES.nom%></p>
                    <% }); %>
                    <button class="btn btn-primary btn-lg">Commencer PESD</button>
                </div>
                <div class="col-md" id="PESDHistory">
                    <h4>Historique des PESD:</h4>
                    <% histoPESD.forEach(function(PESD) {%>
                    <p><a href="/viewPESD<%=PESD.idPESD%>"> PESD du <%=PESD.date%> <br/> avec <%=PESD.prenom%> <%=PESD.nom%></a>
                    <% }); %></p>
                </div>
                <div class="col-md" id="account">
                    <h4>Info Utilisateur:</h4>
                    <p>Nom: <%=user.nom%></p>
                    <p>Prenom: <%=user.prenom%></p>
                    <p>Ville: <%=user.ville%></p>
                    <p>Pays: <%=user.pays%></p>
                    <button class="btn btn-primary btn-lg">Modifier</button>
                </div>
            </div>
        </div>


        <%- include ../partials/footer.ejs %>
