<div class="container">
	<div class="row">
		<div class="col-6">
			<img class="img-fluid" src=<% if(etape!='E' && etape!='D'){%>"/img/PESD.png"<%}else{%>"/img/black.png"<%}%> alt="">
		</div>
		<div class="col-3 border border-dark rounded">
			<h3>Histoire</h3>
			<p><%= histoire%></p>
			<button class="btn btn-primary">O2 : +1</button>
			<button class="btn btn-primary">O5: +1</button>
			<button class="btn btn-primary">O8 : +1</button>
			<button class="btn btn-primary">O9 : +1</button>
			<button class="btn btn-primary">O10 : +1</button>
		</div>
		<div class="col-3 border border-dark rounded">
			<h3>Consigne</h3>
			<p><%= consigne %></p>
			<form action="/startpesd" method="POST">
				<input hidden type="text" value="<%=idP%>" name="id">
				<input hidden type="text" value="<%=etape%>" name="etape">
				<textarea hidden name="answer" id="answer"></textarea>
				<button class="btn btn-primary" id="nextstep" type="submit">Etape suivante</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group mt-3">
				<div class="form-control" style="width:100%;resize: none;" name="answerM" id="answerM" ></div>
			</div>
		</div>
	</div>
</div>

<script>
	var idP = "<%= idP %>";
</script>
